<div class="pseudobox flexrow neon-pink-pseudo">
  <textarea
    name="system.description"
    class="textbox pgv"
    placeholder="{{localize "SCLK.ItemDescription"}}"
  >{{item.system.description}}</textarea>
</div>
