<div class="quoted-box flexrow neon-pink-pseudo">
  <textarea
    name="data.data.description"
    class="textbox mgv"
    placeholder="{{localize "SCLK.ItemDescription"}}"
  >{{data.data.description}}</textarea>
</div>
