<div class="quoted-box flexrow neon-pink-pseudo">
  <textarea
    name="system.description"
    class="textbox mgv"
    placeholder="{{localize "SCLK.ItemDescription"}}"
  >{{item.system.description}}</textarea>
</div>
