<div class="flexcol mgt">
  <h3 class="neon-white">{{item.name}}</h3>
  <div class="flexrow centerv lefth gap">
    {{> "systems/starclock/templates/items/parts/damage.hbs" item=item displayOnly=true }}
  </div>
</div>
