<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="flexcol lefth centerv gap">
    <label class="flexrow centerv gap">
      <h4>Additional hit modifier</h4>
      <input  name="hitMod" type="number" value="0" data-dtype="Number" />
    </label>
  </div>
</form>
