<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="flexcol lefth centerv gap">
    <h3 class="neon-pink-pseudo">Spend/Earn StarCredits?</h3>
    <input type="number" name="amount" value="0" placeholder="0" data-dtype="Number" />
  </div>
</form>
