<form class="{{cssClass}} flexcol" autocomplete="off">
  <nav class="tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "SCLK.Tabs.Attributes"}}</a>
    <a class="item" data-tab="inventory">{{localize "SCLK.Tabs.Inventory"}}</a>
  </nav>
  <section class="tab-content">
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{> (actortab "attributes") }}
    </div>
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      {{> (actortab "inventory") }}
    </div>
  </section>
</form>
