<label class="flexrow centerv gap pgl pseudobox neon-pink-pseudo dialog-checkbox">
  <h4>{{ title }}</h4>
  <input name="{{ name }}" type="checkbox" data-dtype="Boolean" />
  <div class="pseudocheck neon-pink flexrow centerv centerh">
    <i class="unchecked fas fa-xmark"></i>
    <i class="checked fas fa-check"></i>
  </div>
</label>