<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/starclock/templates/items/parts/header-compact.hbs" }}
  <div class="flexcol topv item-body">
    {{> "systems/starclock/templates/items/parts/description.hbs" }}
  </div>
</form>
