
<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/starclock/templates/items/parts/header-compact.hbs" }}
  <div class="flexcol topv item-body mgb">
    {{> "systems/starclock/templates/items/parts/description.hbs" }}
  </div>
  {{> "systems/starclock/templates/common/active-effects.hbs" effects=@root/effects }}
</form>
