{{#if (anyHasElements @root/weapons @root/ammo)}}
  {{> "systems/starclock/templates/actors/parts/inventory/weapons.hbs" itemsList=@root/weapons }}
  {{> "systems/starclock/templates/actors/parts/inventory/ammo.hbs" itemsList=@root/ammo }}
{{else}}
  <h2 class="neon-pink-pseudo">{{localize "SCLK.EmptyArsenal"}}</h2>
{{/if}}
