<div class="character-aside flexrow">
  <div class="character-silhouette flexcol centerv centerh pgh">
    <img
      class="character-image neon-green"
      src="systems/starclock/assets/races/{{actor.system.race}}_sil_{{actor.system.bodyType}}.png"
    />
  </div>
  <div class="character-wounds flexcol topv centerh">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
    />
  </div>
</div>
