<div class="flexrow skill-groups gap">
  {{#each @root/config.skills as |key nameKey|}}
    <label class="flexcol skill">
      <h4>{{localize nameKey}}</h4>
      <input
        type="number"
        name="system.{{key}}"
        value="{{getKey @root/actor.system key}}"
        min="0"
        data-dtype="Number"
      />
    </label>
  {{/each}}
</div>
