<div class="flexrow attributes-list skills gap">
  {{#each @root/config.skills as |name key|}}
    <label class="character-attribute flexcol">
      <h4 class="mgb">{{localize name}}</h4>
      <div class="flexcol attribute-value">
        <input
          type="number"
          name="system.{{key}}"
          value="{{getKey @root/actor.system key}}"
          min="0"
          data-dtype="Number"
        />
      </div>
    </label>
  {{/each}}
</div>
