<div class="flexrow skill-groups">
  {{#each @root/config.skills as |skillgroup groupKey|}}
    <div class="flexcol skill-group pg">
      <h4>{{localize skillgroup.nameKey}}</h4>
      {{#each skillgroup.list as |skill key|}}
        <div class="flexrow skill mgt">
          {{~#if skillgroup.special}}
            <strong>{{localize skill.nameKey}}</strong>
          {{else}}
            <strong>{{localize skill}}</strong>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
