.app.window-app.sheet[id*='actor']:not([id*='item']) {
  box-shadow: none;
  background: none;
  padding: 35px 30px 55px 30px;
}

.app.window-app.sheet[id*='actor']:not([id*='item']):after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/gui/tablet-backdrop.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  pointer-events: none;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.7));
}

.app.window-app.sheet[id*='actor']:not([id*='item']) > header {
  background: none;
  background-color: rgba(2, 2, 2, 0.9);
}

.app.window-app.sheet[id*='actor']:not([id*='item']) .window-content {
  padding-top: 0;
}

.character-tablet {
  height: 100%;
}

.character-tablet h2 {
  position: relative;
  border-bottom: none;
}

.character-tablet h2:after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #333;
}

.sheet-navigation a.item.active {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.sheet-navigation a.item.active:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
}

.sheet-navigation a.item.active span {
  position: relative;
  color: #FFF;
  z-index: 2;
}

.character-tablet-middle {
  overflow: hidden;
}

.character-tablet .tab-content {
  max-height: 100%;
  padding: 0 10px;
  flex: 0 0 60%;
  overflow: auto;
}

.sheet-navigation {
  position: relative;
  flex: 0;
}

.sheet-navigation a {
  background-color: rgba(100, 100, 100, 0.5);
  font-size: 20px;
  font-family: 'OstrichSans';
  border-radius: 4px;
}

.character-identity {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.character-identity:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 1px solid #000;
}

.character-infos {
  position: relative;
}

.character-infos:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #333;
}

.attributes-list {
  flex-wrap: wrap;
}

.character-attribute {
  flex-basis: calc(25% - 24px);
  border: 1px solid #CCC;
}

.character-attribute h4 {
  text-align: center;
}

.character-attribute input[type=number] {
  width: 100%;
  border: none;
  text-align: center;
}

.inventory .item-list {
  padding: 0;
}

.inventory-item {
  position: relative;
  border-radius: 8px;
  flex-basis: 60px;
  background-color: rgba(100, 100, 100, 0.3);
  overflow: hidden;
}

.inventory-item .item-infos {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  flex: 0;
  pointer-events: none;
  z-index: 2;
}

.inventory-item > a.item-edit {
  flex: 1;
  height: 60px;
}

.inventory-item.weapon .item-img {
  position: absolute;
  top: 0;
  right: -20px;
  bottom: 0;
  clip-path: polygon(0 -20px, 100% 0px, 100% 90px, 0 40px);
  transform: rotate(-8deg);
  border: none;
  pointer-events: none;
}

.inventory-item.weapon .weapon-ammo {
  right: 36px;
  bottom: 2px;
  pointer-events: none;
}

.inv-item-name {
  font-size: 19px;
  border: none;
  margin: 0;
  white-space: nowrap;
}

.inv-item-mini {
  height: 60px;
  width: 60px;
  flex: 0;
  border: none;
}

.inventory-item .item-qty {
  text-align: right;
  font-family: 'OstrichSans';
}

.inventory-item .item-qty > strong {
  font-size: 21px;
}

.ammo-img {
  width: 60px;
  height: 20px;
  flex: 0;
}

.inventory-item .item-controls {
  position: relative;
  height: 60px;
  flex: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.inventory-item .item-controls:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background-color: #000;
}

.inventory-item .item-jammed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  font-family: 'OstrichSans';
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #222;
  z-index: 5;
}

.item-controls > a {
  position: relative;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 4px #000;
  z-index: 3;
}

.character-silhouette {
  flex: 0 0 180px;
}

.character-infos,
.character-aside,
.character-silhouette {
  height: 100%;
  max-height: 100%;
}

.character-silhouette > img {
  width: 100%;
  max-height: 100%;
  flex: 0 0 auto;
  border: none;
}

.character-common-data > * {
  flex: 0;
}

.line-input[name='data.bodyType'] {
  flex: 0 0 45px;
}

.skill-groups > label {
  flex-basis: 25%;
}

.skill {
  flex-basis: calc(20% - 32px);
}

.money-input h3 {
  flex: 0;
  margin: 0;
  border: none;
}

.money-input input[type=number] {
  flex: 1;
}

.profile-img-wrapper {
  position: relative;
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
}

.profile-img-wrapper:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000;
  border-radius: 8px;
  z-index: 2;
  pointer-events: none;
}

.profile-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 8px;
}
