.chat-message {
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
}

.chat-message.whisper {
  position: relative;
  background: rgba(50, 50, 50, 0.8);
  border-color: transparent;
}

.chat-message.whisper:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #333;
  border-radius: 4px;
  z-index: 1;
  pointer-events: none;
}

.flavor-text {
  color: #FFF;
}

.message-content {
  position: relative;
}

.message-content .roll-fumble {
  position: absolute;
  top: -30px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  color: #222;
  font-family: 'OstrichSans';
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 26px;
  z-index: 2;
}

.dicerow > i {
  flex: 0;
  font-size: 24px;
}
