.chat-message {
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
}

.chat-message.whisper {
  position: relative;
  background: rgba(50, 50, 50, 0.8);
  border-color: transparent;
}

.chat-message.whisper:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #333;
  border-radius: 4px;
  z-index: 1;
  pointer-events: none;
}

.flavor-text {
  color: #FFF;
}

.message-header.flexrow {
  flex-wrap: wrap;
}

.message-content {
  position: relative;
}

.message-content .roll-fumble {
  position: absolute;
  top: -30px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  color: #222;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.roll-result {
  position: relative;
  width: 28px;
  height: 28px;
  flex: 0 0 28px;
  color: #333;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  font-family: 'CascadiaMono';
}

.roll-result.neon-green {
  color: #FFF;
  border-color: #FFF;
}

.roll-result.bonus-dice:after {
  content: '+';
  position: absolute;
  top: -12px;
  right: -2px;
  z-index: 1;
}

.roll-report {
  color: #333;
}

.roll-report.neon-green {
  color: #FFF;
}

.roll-report, .roll-fumble {
  font-family: 'OstrichSans';
  font-size: 26px;

}
