.line-input.line-input {
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 4px 4px 0 0;
  background-color: transparent;
  height: auto;
}

input[type=number] {
  font-family: 'CascadiaMono';
}

input[type=number]:not(.line-input) {
  font-size: 20px;
}

.quoted-box:before,
.quoted-box:after {
  position: relative;
}

.textbox {
  width: 100%;
  height: 4.5em;
  resize: none;
  color: #FFF;
  font-family: 'CascadiaMono';
}

button:hover,
select:hover {
  cursor: pointer;
}

button:disabled:hover,
select:disabled:hover {
  cursor: not-allowed;
}
