.item-list {
  margin: 0;
  padding: 0;
}

.item-header {
  position: relative;
  height: 120px;
  color: #FFF;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset;
  overflow: hidden;
}

.item-header > img {
  max-width: 100%;
  max-height: 100%;
}

.item-header > img.full-picture {
  flex: 0 1 auto;
  border: none;
}

.item-header > label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

.item-header > label:before {
  content: '>';
  font-family: 'OstrichSans';
  padding-left: 8px;
}

.item-header > label > input {
  color: #333;
  font-family: 'OstrichSans';
  background-color: transparent;
  border: none;
}

.item-body > * {
  flex: 0 0 auto;
}

.item-damage {
  width: 100%;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.item-damage > * {
  flex: 0;
}

.item-damage > select {
  flex: 1;
}

.item-damage input[type=number] {
  width: 28px;
  text-align: center;
}

.item-damage > span > span {
  font-size: 16px;
  font-family: 'OstrichSans';
}

.item-damage i.neon-red {
  color: #111;
}

.damage-type {
  color: #333;
  font-size: 18px;
  font-family: 'OstrichSans';
}

.weapon-ammo {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 65px;
  flex: 0;
  color: #111;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.weapon-ammo > div {
  width: 100%;
}

.weapon-ammo > div > input[type=number],
.weapon-ammo > div > span {
  font-family: 'OstrichSans';
  font-size: 18px;
  color: #111 !important;
  flex: 0;
}

.weapon-ammo > div > input[type=number]:first-of-type,
.weapon-ammo > div > input[type=number]:last-of-type {
  flex: 1;
}

.weapon-ammo > div > input[type=number]:first-of-type {
  text-align: right;
}

.weapon-ammo > div > input[type=number]:last-of-type {
  text-align: left;
}

.weapon-ammo input[type=number] {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
