.item-list {
  margin: 0;
  padding: 0;
}

.item-header {
  position: relative;
  color: #FFF;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset;
  overflow: hidden;
}

.item-header:not(.compact) {
  height: 120px;
}

.item-header > img {
  max-width: 100%;
  max-height: 100%;
}

.item-header > img.full-picture {
  flex: 0 1 auto;
  border: none;
}

.item-header > label {
  border-bottom: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

.item-header:not(.compact) > label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.item-header > label:before {
  content: '>';
  font-family: 'OstrichSans';
  padding-left: 8px;
}

.item-header > label > input {
  color: #333;
  font-family: 'OstrichSans';
  background-color: transparent;
  border: none;
}

.item-header.compact {
  flex-wrap: nowrap;
}

.item-header.compact > img {
  height: 64px;
  flex: 0 0 64px;
  border-radius: 8px;
}

.item-body > * {
  flex: 0 0 auto;
}

.item-damage {
  width: 100%;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.item-damage > * {
  flex: 0;
}

.item-damage > select {
  flex: 1;
}

.item-damage input[type=number] {
  width: 28px;
  text-align: center;
}

.item-damage > span > span {
  font-size: 16px;
  font-family: 'OstrichSans';
}

.item-damage i.neon-red {
  color: #111;
}

.item-damage i.neon-blue {
  color: #333;
}

.item-damage i.neon-yellow {
  color: #444;
}

.damage-type {
  color: #222;
  font-size: 19px;
  font-family: 'OstrichSans';
}

.weapon-ammo {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 70px;
  flex: 0;
  color: #111;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.weapon-ammo > div {
  width: 100%;
}

.weapon-ammo > div > input[type=number],
.weapon-ammo > div > span {
  font-family: 'OstrichSans';
  font-size: 18px;
  color: #FFF !important;
  flex: 0;
  white-space: nowrap;
}

.weapon-ammo > div > input[type=number]:first-of-type,
.weapon-ammo > div > input[type=number]:last-of-type {
  flex: 1;
}

.weapon-ammo > div > input[type=number]:first-of-type,
.weapon-ammo > div > i:first-of-type {
  text-align: right;
}

.weapon-ammo > div i {
  font-size: 14px;
  color: #111;
}

.weapon-ammo > div > input[type=number]:last-of-type {
  text-align: left;
}

.weapon-ammo input[type=number] {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.weapon-ammo .reload-wpn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
  pointer-events: all;
  color: #FFF;
  z-index: 4;
}

.weapon-ammo .reload-wpn.partial-mag:not(:hover) {
  opacity: 0.5;
}

.firing-rates {
  flex: 0;
  flex-wrap: nowrap;
}

.firing-rates input[type=number],
.firing-rates span:not(.fr-separator) {
  width: 25px;
}

.firing-rates * {
  text-align: center !important;
}

.firing-rates *.neon-pink {
  color: #333;
}
