.neon-pink,
.neon-pink-pseudo:before,
.neon-pink-pseudo:after,
/* Apply to thumbnail */
li.directory-item.document.item:not(:hover) > img.thumbnail,
.lightbox-image[style*='/weapons'] {
  filter: contrast(0.5) sepia(1) hue-rotate(250deg) brightness(1.5) contrast(1.5) saturate(3) drop-shadow(0px 0px 3px #EA00D9);
}

.neon-white,
.neon-white-pseudo:before,
.neon-white-pseudo:after,
/* Apply to thumbnail */
li.directory-item.document.item:hover > img.thumbnail {
  filter: contrast(0.0) brightness(1.5) drop-shadow(0px 0px 3px #FFF);
}

.neon-green,
.neon-green-pseudo:before,
.neon-green-pseudo:after {
  filter: brightness(0.55) sepia(1) saturate(2.4) hue-rotate(60deg) drop-shadow(0px 0px 2px rgb(49 206 38));
}
