.pseudobox { position: relative; }

.pseudobox:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #FFF;
  border-radius: 8px;
  pointer-events: none;
}

.pseudobox.neon-red-pseudo:before,
.pseudobox.neon-pink-pseudo:before,
.pseudobox.neon-yellow-pseudo:before,
.pseudobox.neon-blue-pseudo:before {
  border-color: #333;
}

.pseudobox.neon-green-pseudo:before {
  border-color: #FFF;
}
