{{#each itemsList as |items sid|}}
  <h2 class="neon-pink-pseudo">{{ localize sid }}</h2>
  <ol class="item-list gap flexcol">
    {{#each items as |item iid|}}
      <li class="item flexrow inventory-item weapon topv" draggable="true">
        <div class="item-infos flexcol topv pg">
          <div class="flexrow">
            <h3 class="inv-item-name">{{item.name}}</h3>
          </div>
          {{> "systems/starclock/templates/items/parts/damage.hbs" item=item displayOnly=true }}
        </div>
        <a class="item-edit neon-pink neon-white-hover" data-id="{{item._id}}">
          <img
            class="item-img"
            src="{{item.img}}"
            draggable="false"
          />
        </a>
        {{> "systems/starclock/templates/items/parts/ammo.hbs" item=item displayOnly=true }}
        {{> "systems/starclock/templates/actors/parts/inventory/controls.hbs" item=item isStash=../../isStash }}
      </li>
    {{/each}}
  </ol>
{{/each}}
